#root {
}

body {
    color: #333;
    padding: 40px;
    font-family: "Source Sans Pro", sans-serif;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-size: 4em;
    font-family: "Lakki Reddy", serif;
    margin: 0;
    line-height: 0.9;
    color: #cb0001;
}

.logo h2 {
    font-size: 1.5em;
    font-family: "Josefin Sans", serif;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.2em;
    line-height: 0;
    vertical-align: -1em;
    color: #aaa;
}



.what-does-the-server-say {
    padding-top: 20px;
}

.what-does-the-server-say .message {
    font-size: 2em;
    padding-bottom: 0.7em;
}

.fox {
    text-decoration: line-through;
}

.speech-bubble {
    position: relative;
    background: #ddd;
    border-radius: .4em;
    padding: 2em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #ddd;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
}
